In [8]:
import json
import requests
from pprint import pprint
from time import sleep
import pandas as pd
import numpy as np

url = "https://api.themoviedb.org/3/discover/movie?api_key=947778a6875678206b391f256e04d8a7&language=en-US&sort_by=popularity.desc&include_adult=false&include_video=false&primary_release_year=2017&vote_count.gte=100&page="
fresponse=[]
json=[]
for i in range (1,19):
    furl=url+"%d"%i
    response = requests.get(furl).json()

    for item in response["results"]:
        fresponse.append(item)

print(len(fresponse))

341

In [9]:
movie_id_list=[]
for i in range (len(fresponse)):
    movie_id_list.append(fresponse[i]["id"])

len(movie_id_list)

341

In [3]:
df = pd.DataFrame({"id":movie_id_list})
df["budget"]=""   
df["genres"]=""     
df["original_title"]=""    
df["popularity"]=""    
df["production_companies"]=""    
df["release_date"]=""    
df["revenue"]=""    
df["runtime"]=""    
df["vote_average"]=""    
df["vote_count"]=""
df["overview"] =""
df.head()

,id,budget,genres,original_title,popularity,production_companies,release_date,revenue,runtime,vote_average,vote_count,overview
0,284053,,,,,,,,,,,
1,274855,,,,,,,,,,,
2,181808,,,,,,,,,,,
3,281338,,,,,,,,,,,
4,263115,,,,,,,,,,,

In [4]:
for index, row in df.iterrows():
    movie_id = row['id']
    url=f"https://api.themoviedb.org/3/movie/{movie_id}?api_key=947778a6875678206b391f256e04d8a7&language=en-US"
    response = requests.get(url).json()
    df.loc[index, 'budget'] = response['budget']
    df.at[index, 'genres'] = response['genres']
    df.loc[index, 'original_title'] = response['original_title']
    df.loc[index, 'popularity'] = response['popularity']
    df.at[index, 'production_companies'] = response['production_companies']
    df.loc[index, 'release_date'] = response['release_date']
    df.loc[index, 'revenue'] = response['revenue']
    df.loc[index, 'runtime'] = response['runtime']
    df.loc[index, 'vote_average'] = response['vote_average']
    df.loc[index, 'vote_count'] = response['vote_count']
    df.loc[index, 'overview'] = response['overview']
    sleep(0.3)

In [7]:
df.to_csv("2017_movie_info.csv", index=False, header=True)
df.head()

,id,budget,genres,original_title,popularity,production_companies,release_date,revenue,runtime,vote_average,vote_count,overview
0,284053,180000000,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",Thor: Ragnarok,109.022,"[{'id': 420, 'logo_path': '/hUzeosd33nzE5MCNsZ...",2017-10-25,853977000,130,7.5,7004,Thor is on the other side of the universe and ...
1,274855,120000000,"[{'id': 28, 'name': 'Action'}, {'id': 878, 'na...",Geostorm,53.5538,"[{'id': 101832, 'logo_path': '/vO7CKIeogFxphT1...",2017-10-13,221600160,109,5.8,1490,After an unprecedented series of natural disas...
2,181808,200000000,"[{'id': 14, 'name': 'Fantasy'}, {'id': 12, 'na...",Star Wars: The Last Jedi,52.7981,"[{'id': 1, 'logo_path': '/o86DbpburjxrqAzEDhXZ...",2017-12-13,1332459537,152,7.1,5844,Rey develops her newly discovered abilities wi...
3,281338,150000000,"[{'id': 18, 'name': 'Drama'}, {'id': 878, 'nam...",War for the Planet of the Apes,51.3844,"[{'id': 22213, 'logo_path': '/qx9K6bFWJupwde0x...",2017-07-11,488533726,140,6.9,3946,Caesar and his apes are forced into a deadly c...
4,263115,97000000,"[{'id': 28, 'name': 'Action'}, {'id': 18, 'nam...",Logan,44.214,"[{'id': 431, 'logo_path': None, 'name': 'The D...",2017-02-28,616801808,137,7.7,9453,"In the near future, a weary Logan cares for an..."