In [3]:
import json
import requests
from pprint import pprint
from time import sleep
import pandas as pd
import numpy as np

url = "https://api.themoviedb.org/3/discover/movie?api_key=947778a6875678206b391f256e04d8a7&language=en-US&sort_by=popularity.desc&include_adult=false&include_video=false&primary_release_year=2017&vote_count.gte=100&page="
fresponse=[]
json=[]
for i in range (1,19):
    furl=url+"%d"%i
    response = requests.get(furl).json()

    for item in response["results"]:
        fresponse.append(item)

print(len(fresponse))

341

In [4]:
movie_id_list=[]
for i in range (len(fresponse)):
    movie_id_list.append(fresponse[i]["id"])

len(movie_id_list)

341

In [5]:
df = pd.DataFrame({"id":movie_id_list})
df["budget"]=""   
df["genres"]=""     
df["original_title"]=""    
df["popularity"]=""    
df["production_companies"]=""    
df["release_date"]=""    
df["revenue"]=""    
df["runtime"]=""    
df["vote_average"]=""    
df["vote_count"]=""
df["overview"] =""
df.head()

,id,budget,genres,original_title,popularity,production_companies,release_date,revenue,runtime,vote_average,vote_count,overview
0,284053,,,,,,,,,,,
1,181808,,,,,,,,,,,
2,274855,,,,,,,,,,,
3,281338,,,,,,,,,,,
4,263115,,,,,,,,,,,

In [7]:
for index, row in df.iterrows():
    movie_id = row['id']
    url=f"https://api.themoviedb.org/3/movie/{movie_id}?api_key=947778a6875678206b391f256e04d8a7&language=en-US"
    response = requests.get(url).json()
    df.loc[index, 'budget'] = response['budget']
    df.at[index, 'genres'] = response['genres']
    df.loc[index, 'original_title'] = response['original_title']
    df.loc[index, 'popularity'] = response['popularity']
    df.at[index, 'production_companies'] = response['production_companies']
    df.loc[index, 'release_date'] = response['release_date']
    df.loc[index, 'revenue'] = response['revenue']
    df.loc[index, 'runtime'] = response['runtime']
    df.loc[index, 'vote_average'] = response['vote_average']
    df.loc[index, 'vote_count'] = response['vote_count']
    df.loc[index, 'overview'] = response['overview']
    sleep(0.3)

In [8]:
df.to_csv("2017_movie_info.csv", index=False, header=True)
df

,id,budget,genres,original_title,popularity,production_companies,release_date,revenue,runtime,vote_average,vote_count,overview
0,284053,180000000,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",Thor: Ragnarok,108.359,"[{'id': 420, 'logo_path': '/hUzeosd33nzE5MCNsZ...",2017-10-25,853977000,130,7.5,7001,Thor is on the other side of the universe and ...
1,181808,200000000,"[{'id': 14, 'name': 'Fantasy'}, {'id': 12, 'na...",Star Wars: The Last Jedi,53.0431,"[{'id': 1, 'logo_path': '/o86DbpburjxrqAzEDhXZ...",2017-12-13,1332459537,152,7.1,5841,Rey develops her newly discovered abilities wi...
2,274855,120000000,"[{'id': 28, 'name': 'Action'}, {'id': 878, 'na...",Geostorm,52.5395,"[{'id': 101832, 'logo_path': '/vO7CKIeogFxphT1...",2017-10-13,221600160,109,5.8,1489,After an unprecedented series of natural disas...
3,281338,150000000,"[{'id': 18, 'name': 'Drama'}, {'id': 878, 'nam...",War for the Planet of the Apes,48.6961,"[{'id': 22213, 'logo_path': '/qx9K6bFWJupwde0x...",2017-07-11,488533726,140,6.9,3945,Caesar and his apes are forced into a deadly c...
4,263115,97000000,"[{'id': 28, 'name': 'Action'}, {'id': 18, 'nam...",Logan,45.3146,"[{'id': 431, 'logo_path': None, 'name': 'The D...",2017-02-28,616801808,137,7.7,9449,"In the near future, a weary Logan cares for an..."
5,297762,149000000,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",Wonder Woman,43.5829,"[{'id': 444, 'logo_path': None, 'name': 'Dune ...",2017-05-30,821847012,141,7.2,9225,An Amazon princess comes to the world of Man i...
6,335984,150000000,"[{'id': 9648, 'name': 'Mystery'}, {'id': 878, ...",Blade Runner 2049,42.8697,"[{'id': 79529, 'logo_path': '/gVN3k8emmKy4iV4K...",2017-10-04,259239658,163,7.3,4642,Thirty years after the events of the first fil...
7,315635,175000000,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",Spider-Man: Homecoming,38.8883,"[{'id': 420, 'logo_path': '/hUzeosd33nzE5MCNsZ...",2017-07-05,880166924,133,7.3,7894,Following the events of Captain America: Civil...
8,283995,200000000,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",Guardians of the Galaxy Vol. 2,38.7947,"[{'id': 420, 'logo_path': '/hUzeosd33nzE5MCNsZ...",2017-04-19,863756051,137,7.6,8577,The Guardians must fight to keep their newfoun...
9,141052,500000000,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",Justice League,37.5884,"[{'id': 429, 'logo_path': '/2Tc1P3Ac8M479naPp1...",2017-11-15,657924295,120,6.3,4875,Fuelled by his restored faith in humanity and ...
10,354912,175000000,"[{'id': 16, 'name': 'Animation'}]",Coco,37.0429,"[{'id': 3, 'logo_path': '/1TjvGVDMYsj6JBxOAkUH...",2017-10-27,800526015,105,7.8,4941,Despite his family’s baffling generations-old ...
11,166426,230000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 28, '...",Pirates of the Caribbean: Dead Men Tell No Tales,36.3761,"[{'id': 2, 'logo_path': '/4MbjW4f9bu6LvlDmyIvf...",2017-05-23,794191988,129,6.5,5039,"Thrust into an all-new adventure, a down-on-hi..."
12,399055,19500000,"[{'id': 18, 'name': 'Drama'}, {'id': 14, 'name...",The Shape of Water,33.4134,"[{'id': 101082, 'logo_path': None, 'name': 'Do...",2017-12-01,194989655,123,7.3,4299,"An other-worldly story, set against the backdr..."
13,337339,250000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 28, '...",The Fate of the Furious,32.5149,"[{'id': 33, 'logo_path': '/8lvHyhjr8oUKOOy2dKX...",2017-04-12,1238764765,136,6.8,5064,When a mysterious woman seduces Dom into the w...
14,406990,0,"[{'id': 878, 'name': 'Science Fiction'}, {'id'...",What Happened to Monday,32.0674,"[{'id': 7460, 'logo_path': None, 'name': 'Vend...",2017-08-18,0,123,7.2,2126,In a world where families are limited to one c...
15,341174,55000000,"[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...",Fifty Shades Darker,31.9057,"[{'id': 33, 'logo_path': '/8lvHyhjr8oUKOOy2dKX...",2017-02-08,378827494,118,6,3435,When a wounded Christian Grey tries to entice ...
16,455656,0,"[{'id': 35, 'name': 'Comedy'}]",#realityhigh,29.249,"[{'id': 59811, 'logo_path': '/wwemzKWzjKYJFfCe...",2017-07-17,0,99,6.4,287,When nerdy high schooler Dani finally attracts...
17,347882,0,"[{'id': 18, 'name': 'Drama'}, {'id': 53, 'name...",Sleight,28.3645,"[{'id': 57537, 'logo_path': '/xDWgR9hco6pRM69A...",2017-04-28,0,89,5.2,327,A young street magician is left to take care o...
18,316029,84000000,"[{'id': 18, 'name': 'Drama'}, {'id': 10402, 'n...",The Greatest Showman,26.3555,"[{'id': 7076, 'logo_path': '/8BFxn9NUWSgp0ndih...",2017-12-20,432844677,105,8,2615,"The story of American showman P.T. Barnum, fou..."
19,381288,9000000,"[{'id': 27, 'name': 'Horror'}, {'id': 53, 'nam...",Split,26.312,"[{'id': 33, 'logo_path': '/8lvHyhjr8oUKOOy2dKX...",2017-01-19,278304578,117,7.1,6816,Though Kevin has evidenced 23 personalities to...
20,343668,104000000,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",Kingsman: The Golden Circle,26.1842,"[{'id': 22213, 'logo_path': '/qx9K6bFWJupwde0x...",2017-09-20,410902662,141,7,3708,When an attack on the Kingsman headquarters ta...
21,47971,85000000,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",xXx: Return of Xander Cage,25.8674,"[{'id': 88943, 'logo_path': None, 'name': 'Rox...",2017-01-13,346147658,107,5.6,1973,Extreme athlete turned government operative Xa...
22,321612,160000000,"[{'id': 10751, 'name': 'Family'}, {'id': 14, '...",Beauty and the Beast,25.732,"[{'id': 2, 'logo_path': '/4MbjW4f9bu6LvlDmyIvf...",2017-03-16,1263521126,129,6.8,8534,A live-action adaptation of Disney's version o...
23,374720,100000000,"[{'id': 28, 'name': 'Action'}, {'id': 18, 'nam...",Dunkirk,23.4558,"[{'id': 41624, 'logo_path': '/wzKxIeQKlMP0y5Ca...",2017-07-19,525573161,107,7.4,6424,The story of the miraculous evacuation of Alli...
24,126889,97000000,"[{'id': 27, 'name': 'Horror'}, {'id': 878, 'na...",Alien: Covenant,23.2834,"[{'id': 1645, 'logo_path': '/6Ry6uNBaa0IbbSs1X...",2017-05-09,232380243,122,5.8,3935,Bound for a remote planet on the far side of t...
25,340027,0,"[{'id': 18, 'name': 'Drama'}]",Brain on Fire,22.9074,"[{'id': 3574, 'logo_path': None, 'name': 'Denv...",2017-02-22,0,88,7.4,151,"Susannah Cahalan, an up-and-coming journalist ..."
26,419430,4500000,"[{'id': 9648, 'name': 'Mystery'}, {'id': 53, '...",Get Out,22.5191,"[{'id': 88934, 'logo_path': '/5Be96V9WXa7jJInS...",2017-02-24,255017329,104,7.4,5812,Chris and his girlfriend Rose go upstate to vi...
27,339964,177200000,"[{'id': 12, 'name': 'Adventure'}, {'id': 878, ...",Valerian and the City of a Thousand Planets,22.4504,"[{'id': 98007, 'logo_path': None, 'name': 'BNP...",2017-07-20,225874228,136,6.6,2867,"In the 28th century, Valerian and Laureline ar..."
28,425336,4667008,"[{'id': 80, 'name': 'Crime'}, {'id': 18, 'name...",Loving Pablo,22.2949,"[{'id': 97390, 'logo_path': None, 'name': 'B2Y...",2017-10-12,0,123,6.2,138,The film chronicles the rise and fall of the w...
29,339403,34000000,"[{'id': 28, 'name': 'Action'}, {'id': 80, 'nam...",Baby Driver,21.7495,"[{'id': 559, 'logo_path': '/rzgMLzPgJ2ZBYnlVwN...",2017-06-28,226945087,113,7.4,5450,After being coerced into working for a crime b...
...,...,...,...,...,...,...,...,...,...,...,...,...
311,432618,0,"[{'id': 35, 'name': 'Comedy'}]",Coexister,5.41038,"[{'id': 85026, 'logo_path': None, 'name': 'che...",2017-10-11,0,90,6.1,123,"Under the pressure of his boss, a music produc..."
312,411873,0,"[{'id': 35, 'name': 'Comedy'}]",The Little Hours,5.38262,"[{'id': 92469, 'logo_path': None, 'name': 'Sta...",2017-06-30,0,89,5.5,118,A young servant fleeing from his master takes ...
313,433251,0,"[{'id': 35, 'name': 'Comedy'}]",Naked,5.29321,"[{'id': 8000, 'logo_path': None, 'name': 'Brok...",2017-08-11,0,96,5.8,548,"Following a wild night out with his Best Man, ..."
314,437739,0,"[{'id': 27, 'name': 'Horror'}, {'id': 35, 'nam...",Le Manoir,5.26889,"[{'id': 13800, 'logo_path': None, 'name': 'Gau...",2017-06-21,0,None,5.2,131,A band of students comes to celebrate the New ...
315,449415,0,"[{'id': 35, 'name': 'Comedy'}]",Classe Z,5.26852,[],2017-03-30,0,None,5.9,113,First day of last year for the students of a h...
316,426962,0,"[{'id': 35, 'name': 'Comedy'}]",Sous le même toit,5.25209,"[{'id': 356, 'logo_path': '/9tW5wZEGotn1Ei5pEr...",2017-04-19,0,97,5.2,125,Delphine and Yvan divorce. While his financial...
317,437425,0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",L'Embarras du choix,5.23325,"[{'id': 77855, 'logo_path': None, 'name': 'Del...",2017-03-15,0,95,5.9,114,"Even at the age of 40, Juliette is used to oth..."
318,396493,0,"[{'id': 27, 'name': 'Horror'}, {'id': 53, 'nam...",Creep 2,5.1823,"[{'id': 9286, 'logo_path': None, 'name': 'The ...",2017-10-06,0,78,6.3,152,"After finding an ad online for “video work,” S..."
319,425591,0,"[{'id': 35, 'name': 'Comedy'}, {'id': 80, 'nam...",I Don't Feel at Home in This World Anymore,5.10743,"[{'id': 12142, 'logo_path': '/rPnEeMwxjI6rYMGq...",2017-01-19,0,96,6.6,402,"When a depressed woman is burglarized, she fin..."
320,459950,0,"[{'id': 18, 'name': 'Drama'}]",Feed,4.99445,"[{'id': 41945, 'logo_path': None, 'name': 'Ind...",2017-07-18,0,96,7.4,105,"Olivia and Matthew Grey, 18-year-old twins bor..."
321,430528,0,"[{'id': 35, 'name': 'Comedy'}]",Si j'étais un homme,4.90815,"[{'id': 77552, 'logo_path': None, 'name': 'Cur...",2017-02-22,0,95,5.1,126,Jeanne wakes up one morning and her life is ab...
322,398924,0,"[{'id': 18, 'name': 'Drama'}]",Un sac de billes,4.88006,"[{'id': 356, 'logo_path': '/9tW5wZEGotn1Ei5pEr...",2017-01-18,0,110,7.9,233,"In occupied France, Maurice and Joseph, two yo..."
323,419511,0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",Mister Felicità,4.8381,"[{'id': 10102, 'logo_path': None, 'name': 'Cat...",2017-01-01,0,94,6.3,147,"Martino's sister, Caterina, can't work anymore..."
324,420950,0,"[{'id': 878, 'name': 'Science Fiction'}, {'id'...",Seuls,4.83171,"[{'id': 694, 'logo_path': '/5LEHONGkZBIoWvp1yg...",2017-02-08,0,90,5.5,191,Five kids wake up in a world where everybody h...
325,398920,0,"[{'id': 35, 'name': 'Comedy'}]",Il a déjà tes yeux,4.80889,"[{'id': 22127, 'logo_path': '/lgkXXc4hyHH6WqVM...",2017-01-18,0,95,6.3,217,Paul is married to Sali. Everything would be f...
326,408381,0,"[{'id': 18, 'name': 'Drama'}, {'id': 53, 'name...",Monolith,4.79826,"[{'id': 53597, 'logo_path': None, 'name': 'Sky...",2017-04-20,0,81,5.1,164,A mother and her son plan a surprise visit to ...
327,425980,0,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",Brad's Status,4.76863,"[{'id': 737, 'logo_path': '/dK1GZ1u4our8sJW0St...",2017-09-15,2400000,101,5.9,116,"Although Brad has a satisfying career, a sweet..."
328,426285,10000000,"[{'id': 28, 'name': 'Action'}, {'id': 14, 'nam...",鋼の錬金術師,4.75683,"[{'id': 10038, 'logo_path': '/nCueXKwYIEXrZ5of...",2017-12-01,0,135,5.2,158,Two alchemist brothers go on a quest for the P...
329,411019,1000000,"[{'id': 99, 'name': 'Documentary'}]",I Am Not Your Negro,4.7406,"[{'id': 1030, 'logo_path': None, 'name': 'Magn...",2017-02-03,7123919,95,8.1,154,Working from the text of James Baldwin’s unfin...
330,406385,0,"[{'id': 28, 'name': 'Action'}, {'id': 35, 'nam...",Smetto quando voglio - Masterclass,4.72143,"[{'id': 2683, 'logo_path': '/mOL2WcHtox2urbUf1...",2017-02-02,0,118,7.5,434,Pietro Zinni is asked by the police to revive ...
331,431937,0,"[{'id': 10749, 'name': 'Romance'}, {'id': 18, ...",Monsieur & Madame Adelman,4.67504,"[{'id': 5125, 'logo_path': '/t3oWTsVukmEzrZzvf...",2017-03-08,0,120,7.6,119,How did Sarah and Victor get along for more th...
332,439584,0,"[{'id': 28, 'name': 'Action'}, {'id': 35, 'nam...",Smetto quando voglio - Ad honorem,4.59843,"[{'id': 86177, 'logo_path': None, 'name': 'Gro...",2017-11-30,0,96,7.7,240,Has been an year since Pietro Zinni's gang got...
333,435707,0,"[{'id': 18, 'name': 'Drama'}, {'id': 35, 'name...",Pieles,4.50256,"[{'id': 32485, 'logo_path': None, 'name': 'Pok...",2017-04-15,0,78,6.7,147,A story about four spanish people who see them...
334,440708,0,"[{'id': 35, 'name': 'Comedy'}]",Mamma o papà?,4.32586,[],2017-02-14,0,103,5.8,199,A divorced couple fights for the custody of th...
335,469019,0,"[{'id': 99, 'name': 'Documentary'}]",Jim & Andy: The Great Beyond,4.22251,"[{'id': 17209, 'logo_path': None, 'name': 'Vic...",2017-09-05,0,94,7.7,183,Offbeat documentarian Chris Smith provides a b...
336,445793,0,"[{'id': 35, 'name': 'Comedy'}]",Moglie e marito,4.1922,"[{'id': 86177, 'logo_path': None, 'name': 'Gro...",2017-04-13,687505,100,6.7,112,"Married for ten years, in full crisis, thinkin..."
337,433422,0,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",劇場版 FAIRY TAIL 『DRAGON CRY』,4.12934,"[{'id': 3656, 'logo_path': None, 'name': 'GAGA...",2017-05-06,0,85,6.1,211,Natsu Dragneel and his friends travel to the i...
338,271404,20000000,"[{'id': 28, 'name': 'Action'}, {'id': 878, 'na...",Beyond Skyline,3.77024,"[{'id': 12142, 'logo_path': '/rPnEeMwxjI6rYMGq...",2017-10-20,992181,105,4.8,391,Detective Mark Corley storms his way onto an a...
339,456508,0,"[{'id': 99, 'name': 'Documentary'}]",Chris Brown: Welcome to My Life,3.61047,"[{'id': 90025, 'logo_path': None, 'name': 'RIV...",2017-06-08,0,110,6.3,216,This compelling Documentary moves beyond the s...
340,441614,0,"[{'id': 10749, 'name': 'Romance'}]",Amar,0.586229,"[{'id': 103, 'logo_path': None, 'name': 'TVE',...",2017-04-21,0,105,4.5,193,Laura and Carlos love each other as if every d...