In [1]:
import json
import requests
from pprint import pprint
from time import sleep
import pandas as pd
import numpy as np
import statistics
import matplotlib.pyplot as plt
# Import and Initialize Sentiment Analyzer
from vaderSentiment.vaderSentiment import SentimentIntensityAnalyzer
analyzer = SentimentIntensityAnalyzer()
v3_auth = "996aa05f6fb2c9c7c68e647c875b96d5"

url = "https://api.themoviedb.org/3/discover/movie?api_key=996aa05f6fb2c9c7c68e647c875b96d5&language=en-US&sort_by=popularity.desc&include_adult=false&include_video=false&primary_release_year=2017&vote_count.gte=100&page="
fresponse=[]
json=[]
for i in range (1,19):
    furl=url+"%d"%i
    response = requests.get(furl).json()

    for item in response["results"]:
        fresponse.append(item)

print(len(fresponse))

341

In [2]:
movie_id_list=[]
for i in range (len(fresponse)):
    movie_id_list.append(fresponse[i]["id"])

len(movie_id_list)

341

In [3]:
df = pd.DataFrame({"id":movie_id_list})
df["budget"]=""   
df["genres"]=""     
df["original_title"]=""    
df["popularity"]=""    
df["production_companies"]=""    
df["release_date"]=""    
df["revenue"]=""    
df["runtime"]=""    
df["vote_average"]=""    
df["vote_count"]=""
df["overview"] =""
df.head()

,id,budget,genres,original_title,popularity,production_companies,release_date,revenue,runtime,vote_average,vote_count,overview
0,284053,,,,,,,,,,,
1,274855,,,,,,,,,,,
2,181808,,,,,,,,,,,
3,281338,,,,,,,,,,,
4,263115,,,,,,,,,,,

In [6]:
for index, row in df.iterrows():
    movie_id = row['id']
    url=f"https://api.themoviedb.org/3/movie/{movie_id}?api_key=996aa05f6fb2c9c7c68e647c875b96d5&language=en-US"
    response = requests.get(url).json()
    df.loc[index, 'budget'] = response['budget']
    df.at[index, 'genres'] = response['genres']
    df.loc[index, 'original_title'] = response['original_title']
    df.loc[index, 'popularity'] = response['popularity']
    df.at[index, 'production_companies'] = response['production_companies']
    df.loc[index, 'release_date'] = response['release_date']
    df.loc[index, 'revenue'] = response['revenue']
    df.loc[index, 'runtime'] = response['runtime']
    df.loc[index, 'vote_average'] = response['vote_average']
    df.loc[index, 'vote_count'] = response['vote_count']
    df.loc[index, 'overview'] = response['overview']
    sleep(0.3)

In [7]:
df.to_csv("2017_movie_info.csv", index=False, header=True)
df

,id,budget,genres,original_title,popularity,production_companies,release_date,revenue,runtime,vote_average,vote_count,overview
0,284053,180000000,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",Thor: Ragnarok,108.359,"[{'id': 420, 'logo_path': '/hUzeosd33nzE5MCNsZ...",2017-10-25,853977000,130,7.5,7001,Thor is on the other side of the universe and ...
1,274855,120000000,"[{'id': 28, 'name': 'Action'}, {'id': 878, 'na...",Geostorm,52.5395,"[{'id': 101832, 'logo_path': '/vO7CKIeogFxphT1...",2017-10-13,221600160,109,5.8,1489,After an unprecedented series of natural disas...
2,181808,200000000,"[{'id': 14, 'name': 'Fantasy'}, {'id': 12, 'na...",Star Wars: The Last Jedi,53.0431,"[{'id': 1, 'logo_path': '/o86DbpburjxrqAzEDhXZ...",2017-12-13,1332459537,152,7.1,5841,Rey develops her newly discovered abilities wi...
3,281338,150000000,"[{'id': 18, 'name': 'Drama'}, {'id': 878, 'nam...",War for the Planet of the Apes,48.6961,"[{'id': 22213, 'logo_path': '/qx9K6bFWJupwde0x...",2017-07-11,488533726,140,6.9,3945,Caesar and his apes are forced into a deadly c...
4,263115,97000000,"[{'id': 28, 'name': 'Action'}, {'id': 18, 'nam...",Logan,45.3146,"[{'id': 431, 'logo_path': None, 'name': 'The D...",2017-02-28,616801808,137,7.7,9449,"In the near future, a weary Logan cares for an..."
5,297762,149000000,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",Wonder Woman,43.5829,"[{'id': 444, 'logo_path': None, 'name': 'Dune ...",2017-05-30,821847012,141,7.2,9225,An Amazon princess comes to the world of Man i...
6,141052,500000000,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",Justice League,37.5884,"[{'id': 429, 'logo_path': '/2Tc1P3Ac8M479naPp1...",2017-11-15,657924295,120,6.3,4875,Fuelled by his restored faith in humanity and ...
7,283995,200000000,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",Guardians of the Galaxy Vol. 2,38.6776,"[{'id': 420, 'logo_path': '/hUzeosd33nzE5MCNsZ...",2017-04-19,863756051,137,7.6,8579,The Guardians must fight to keep their newfoun...
8,381288,9000000,"[{'id': 27, 'name': 'Horror'}, {'id': 53, 'nam...",Split,26.312,"[{'id': 33, 'logo_path': '/8lvHyhjr8oUKOOy2dKX...",2017-01-19,278304578,117,7.1,6816,Though Kevin has evidenced 23 personalities to...
9,335984,150000000,"[{'id': 9648, 'name': 'Mystery'}, {'id': 878, ...",Blade Runner 2049,42.8697,"[{'id': 79529, 'logo_path': '/gVN3k8emmKy4iV4K...",2017-10-04,259239658,163,7.3,4642,Thirty years after the events of the first fil...
10,166426,230000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 28, '...",Pirates of the Caribbean: Dead Men Tell No Tales,36.3761,"[{'id': 2, 'logo_path': '/4MbjW4f9bu6LvlDmyIvf...",2017-05-23,794191988,129,6.5,5039,"Thrust into an all-new adventure, a down-on-hi..."
11,354912,175000000,"[{'id': 16, 'name': 'Animation'}]",Coco,35.4985,"[{'id': 3, 'logo_path': '/1TjvGVDMYsj6JBxOAkUH...",2017-10-27,800526015,105,7.9,4944,Despite his family’s baffling generations-old ...
12,341174,55000000,"[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...",Fifty Shades Darker,31.9057,"[{'id': 33, 'logo_path': '/8lvHyhjr8oUKOOy2dKX...",2017-02-08,378827494,118,6,3435,When a wounded Christian Grey tries to entice ...
13,455656,0,"[{'id': 35, 'name': 'Comedy'}]",#realityhigh,29.249,"[{'id': 59811, 'logo_path': '/wwemzKWzjKYJFfCe...",2017-07-17,0,99,6.4,287,When nerdy high schooler Dani finally attracts...
14,315635,175000000,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",Spider-Man: Homecoming,38.8883,"[{'id': 420, 'logo_path': '/hUzeosd33nzE5MCNsZ...",2017-07-05,880166924,133,7.3,7894,Following the events of Captain America: Civil...
15,399055,19500000,"[{'id': 18, 'name': 'Drama'}, {'id': 14, 'name...",The Shape of Water,33.3745,"[{'id': 101082, 'logo_path': None, 'name': 'Do...",2017-12-01,194989655,123,7.3,4302,"An other-worldly story, set against the backdr..."
16,347882,0,"[{'id': 18, 'name': 'Drama'}, {'id': 53, 'name...",Sleight,32.7396,"[{'id': 57537, 'logo_path': '/xDWgR9hco6pRM69A...",2017-04-28,0,89,5.2,327,A young street magician is left to take care o...
17,406990,0,"[{'id': 878, 'name': 'Science Fiction'}, {'id'...",What Happened to Monday,31.8385,"[{'id': 7460, 'logo_path': None, 'name': 'Vend...",2017-08-18,0,123,7.2,2128,In a world where families are limited to one c...
18,337339,250000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 28, '...",The Fate of the Furious,32.5149,"[{'id': 33, 'logo_path': '/8lvHyhjr8oUKOOy2dKX...",2017-04-12,1238764765,136,6.8,5064,When a mysterious woman seduces Dom into the w...
19,321612,160000000,"[{'id': 10751, 'name': 'Family'}, {'id': 14, '...",Beauty and the Beast,25.732,"[{'id': 2, 'logo_path': '/4MbjW4f9bu6LvlDmyIvf...",2017-03-16,1263521126,129,6.8,8534,A live-action adaptation of Disney's version o...
20,343668,104000000,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",Kingsman: The Golden Circle,26.1842,"[{'id': 22213, 'logo_path': '/qx9K6bFWJupwde0x...",2017-09-20,410902662,141,7,3708,When an attack on the Kingsman headquarters ta...
21,335988,217000000,"[{'id': 28, 'name': 'Action'}, {'id': 878, 'na...",Transformers: The Last Knight,20.4936,"[{'id': 38831, 'logo_path': None, 'name': 'Tom...",2017-06-16,605425157,149,6,2417,"Autobots and Decepticons are at war, with huma..."
22,324552,40000000,"[{'id': 53, 'name': 'Thriller'}, {'id': 28, 'n...",John Wick: Chapter 2,20.6302,"[{'id': 3528, 'logo_path': '/mo2K3alhIGefuqxUn...",2017-02-08,171539887,122,6.8,4227,John Wick is forced out of retirement by a for...
23,339403,34000000,"[{'id': 28, 'name': 'Action'}, {'id': 80, 'nam...",Baby Driver,21.7495,"[{'id': 559, 'logo_path': '/rzgMLzPgJ2ZBYnlVwN...",2017-06-28,226945087,113,7.4,5450,After being coerced into working for a crime b...
24,359940,15000000,"[{'id': 80, 'name': 'Crime'}, {'id': 18, 'name...","Three Billboards Outside Ebbing, Missouri",20.6065,"[{'id': 2376, 'logo_path': '/yeNoWmSHZfvKsBYuL...",2017-11-10,158526998,115,8.2,3198,After seven months have passed without a culpr...
25,353486,90000000,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",Jumanji: Welcome to the Jungle,19.7515,"[{'id': 350, 'logo_path': None, 'name': 'Radar...",2017-12-09,962119864,119,6.6,4590,The tables are turned as four teenagers are su...
26,316029,84000000,"[{'id': 18, 'name': 'Drama'}, {'id': 10402, 'n...",The Greatest Showman,26.3555,"[{'id': 7076, 'logo_path': '/8BFxn9NUWSgp0ndih...",2017-12-20,432844677,105,8,2615,"The story of American showman P.T. Barnum, fou..."
27,374720,100000000,"[{'id': 28, 'name': 'Action'}, {'id': 18, 'nam...",Dunkirk,23.7439,"[{'id': 41624, 'logo_path': '/wzKxIeQKlMP0y5Ca...",2017-07-19,525573161,107,7.4,6427,The story of the miraculous evacuation of Alli...
28,47971,85000000,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",xXx: Return of Xander Cage,25.8674,"[{'id': 88943, 'logo_path': None, 'name': 'Rox...",2017-01-13,346147658,107,5.6,1973,Extreme athlete turned government operative Xa...
29,425336,4667008,"[{'id': 80, 'name': 'Crime'}, {'id': 18, 'name...",Loving Pablo,23.5107,"[{'id': 97390, 'logo_path': None, 'name': 'B2Y...",2017-10-12,0,123,6.2,138,The film chronicles the rise and fall of the w...
...,...,...,...,...,...,...,...,...,...,...,...,...
311,426338,0,"[{'id': 35, 'name': 'Comedy'}, {'id': 10402, '...",La llamada,5.54144,"[{'id': 103, 'logo_path': None, 'name': 'TVE',...",2017-09-29,0,108,7.2,147,"María and Susana, two rebellious teens spend t..."
312,376134,0,"[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...",The Discovery,5.44986,"[{'id': 20277, 'logo_path': None, 'name': 'Pro...",2017-03-31,0,102,6.2,514,"In the near future, due to a breakthrough scie..."
313,396810,0,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",The Last Word,5.93189,"[{'id': 90445, 'logo_path': None, 'name': 'Fra...",2017-03-03,1783421,108,6.4,120,A retired businesswoman – who tries to control...
314,432618,0,"[{'id': 35, 'name': 'Comedy'}]",Coexister,5.41038,"[{'id': 85026, 'logo_path': None, 'name': 'che...",2017-10-11,0,90,6.1,123,"Under the pressure of his boss, a music produc..."
315,483104,0,"[{'id': 10749, 'name': 'Romance'}]",A Christmas Prince,5.51001,"[{'id': 2090, 'logo_path': '/iEFWMfcmFSyCYJCnH...",2017-11-17,0,92,6.5,359,When a reporter goes undercover as a nanny to ...
316,306943,0,"[{'id': 35, 'name': 'Comedy'}]",The Outcasts,5.61584,"[{'id': 10290, 'logo_path': None, 'name': 'BCD...",2017-04-14,0,95,6.5,243,After falling victim to a humiliating prank by...
317,425591,0,"[{'id': 35, 'name': 'Comedy'}, {'id': 80, 'nam...",I Don't Feel at Home in This World Anymore,5.10743,"[{'id': 12142, 'logo_path': '/rPnEeMwxjI6rYMGq...",2017-01-19,0,96,6.6,402,"When a depressed woman is burglarized, she fin..."
318,412202,1050000,"[{'id': 18, 'name': 'Drama'}]",Handsome Devil,5.62284,"[{'id': 21872, 'logo_path': None, 'name': 'Tre...",2017-02-15,0,95,7.2,193,A music-mad 16-year-old outcast at a rugby-mad...
319,455551,0,"[{'id': 878, 'name': 'Science Fiction'}]",The Recall,5.55799,"[{'id': 23688, 'logo_path': None, 'name': 'VMI...",2017-06-02,1319566,91,4,120,When five friends vacation at a remote lake ho...
320,317560,0,"[{'id': 35, 'name': 'Comedy'}]",Carrie Pilby,5.30362,"[{'id': 53002, 'logo_path': None, 'name': 'Bra...",2017-03-31,18957,98,7.3,120,"Awkward, isolated and disapproving of most of ..."
321,336890,0,"[{'id': 35, 'name': 'Comedy'}]",Goon: Last of the Enforcers,5.55729,"[{'id': 6623, 'logo_path': '/qvtEf5tM9IAEJUUhX...",2017-03-17,0,101,5.9,106,"During a pro lockout, Doug ""The Thug"" Glatt is..."
322,469019,0,"[{'id': 99, 'name': 'Documentary'}]",Jim & Andy: The Great Beyond,5.27959,"[{'id': 17209, 'logo_path': None, 'name': 'Vic...",2017-09-05,0,94,7.7,183,Offbeat documentarian Chris Smith provides a b...
323,432616,0,"[{'id': 18, 'name': 'Drama'}]",La Promesse de l'aube,5.42901,"[{'id': 7561, 'logo_path': None, 'name': 'Nexu...",2017-12-20,0,130,7.7,122,From his childhood in Poland to his adolescenc...
324,439584,0,"[{'id': 28, 'name': 'Action'}, {'id': 35, 'nam...",Smetto quando voglio - Ad honorem,4.59843,"[{'id': 86177, 'logo_path': None, 'name': 'Gro...",2017-11-30,0,96,7.7,240,Has been an year since Pietro Zinni's gang got...
325,420950,0,"[{'id': 878, 'name': 'Science Fiction'}, {'id'...",Seuls,4.83171,"[{'id': 694, 'logo_path': '/5LEHONGkZBIoWvp1yg...",2017-02-08,0,90,5.5,191,Five kids wake up in a world where everybody h...
326,426962,0,"[{'id': 35, 'name': 'Comedy'}]",Sous le même toit,5.25209,"[{'id': 356, 'logo_path': '/9tW5wZEGotn1Ei5pEr...",2017-04-19,0,97,5.2,125,Delphine and Yvan divorce. While his financial...
327,440708,0,"[{'id': 35, 'name': 'Comedy'}]",Mamma o papà?,5.07315,[],2017-02-14,0,103,5.8,199,A divorced couple fights for the custody of th...
328,468198,0,"[{'id': 18, 'name': 'Drama'}]",The Place,5.67825,"[{'id': 32434, 'logo_path': None, 'name': 'Lot...",2017-11-04,0,105,7.1,194,The fates of an apparently random group of str...
329,411019,1000000,"[{'id': 99, 'name': 'Documentary'}]",I Am Not Your Negro,4.7406,"[{'id': 1030, 'logo_path': None, 'name': 'Magn...",2017-02-03,7123919,95,8.1,154,Working from the text of James Baldwin’s unfin...
330,406385,0,"[{'id': 28, 'name': 'Action'}, {'id': 35, 'nam...",Smetto quando voglio - Masterclass,4.72143,"[{'id': 2683, 'logo_path': '/mOL2WcHtox2urbUf1...",2017-02-02,0,118,7.5,434,Pietro Zinni is asked by the police to revive ...
331,435921,0,"[{'id': 35, 'name': 'Comedy'}]",L'ora legale,6.0301,"[{'id': 6246, 'logo_path': None, 'name': 'Medu...",2017-01-19,0,92,6.6,316,"A small Sicilian town elects a new, honest maj..."
332,445793,0,"[{'id': 35, 'name': 'Comedy'}]",Moglie e marito,4.1922,"[{'id': 86177, 'logo_path': None, 'name': 'Gro...",2017-04-13,687505,100,6.7,112,"Married for ten years, in full crisis, thinkin..."
333,408381,0,"[{'id': 18, 'name': 'Drama'}, {'id': 53, 'name...",Monolith,4.79826,"[{'id': 53597, 'logo_path': None, 'name': 'Sky...",2017-04-20,0,81,5.1,164,A mother and her son plan a surprise visit to ...
334,419511,0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",Mister Felicità,4.8381,"[{'id': 10102, 'logo_path': None, 'name': 'Cat...",2017-01-01,0,94,6.3,147,"Martino's sister, Caterina, can't work anymore..."
335,456508,0,"[{'id': 99, 'name': 'Documentary'}]",Chris Brown: Welcome to My Life,3.61047,"[{'id': 90025, 'logo_path': None, 'name': 'RIV...",2017-06-08,0,110,6.3,216,This compelling Documentary moves beyond the s...
336,444902,0,"[{'id': 10402, 'name': 'Music'}, {'id': 18, 'n...",Dirty Dancing,7.76989,"[{'id': 28523, 'logo_path': None, 'name': 'Lio...",2017-05-24,0,130,5.2,152,Spending the summer at a Catskills resort with...
337,431937,0,"[{'id': 10749, 'name': 'Romance'}, {'id': 18, ...",Monsieur & Madame Adelman,4.67504,"[{'id': 5125, 'logo_path': '/t3oWTsVukmEzrZzvf...",2017-03-08,0,120,7.6,119,How did Sarah and Victor get along for more th...
338,435707,0,"[{'id': 18, 'name': 'Drama'}, {'id': 35, 'name...",Pieles,4.50256,"[{'id': 32485, 'logo_path': None, 'name': 'Pok...",2017-04-15,0,78,6.7,147,A story about four spanish people who see them...
339,437739,0,"[{'id': 27, 'name': 'Horror'}, {'id': 35, 'nam...",Le Manoir,5.26889,"[{'id': 13800, 'logo_path': None, 'name': 'Gau...",2017-06-21,0,None,5.2,131,A band of students comes to celebrate the New ...
340,441614,0,"[{'id': 10749, 'name': 'Romance'}]",Amar,0.586229,"[{'id': 103, 'logo_path': None, 'name': 'TVE',...",2017-04-21,0,105,4.5,193,Laura and Carlos love each other as if every d...

In [ ]:
# counter = 1
# sentiments = []
# movie_list
# co

In [9]:
#create a list to add the coumpound polarity scores and add the completed list as a new column to the dataframe
compund = []

#go through each row and run vader analysis on each
for index, row in df.iterrows():
    #append to a variable
    results = analyzer.polarity_scores(df["overview"][index])
    #take the compund score and set to a variable
    comp = results["compound"]
    #append the compund score variable to the compound list
    compund.append(comp)

#add the compound column to the dataframe    
df["compound_score"] = compund   

df.head()

# print(len(clean_df1))

,id,budget,genres,original_title,popularity,production_companies,release_date,revenue,runtime,vote_average,vote_count,overview,compound_score
0,284053,180000000,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",Thor: Ragnarok,108.359,"[{'id': 420, 'logo_path': '/hUzeosd33nzE5MCNsZ...",2017-10-25,853977000,130,7.5,7001,Thor is on the other side of the universe and ...,-0.8519
1,274855,120000000,"[{'id': 28, 'name': 'Action'}, {'id': 878, 'na...",Geostorm,52.5395,"[{'id': 101832, 'logo_path': '/vO7CKIeogFxphT1...",2017-10-13,221600160,109,5.8,1489,After an unprecedented series of natural disas...,-0.8779
2,181808,200000000,"[{'id': 14, 'name': 'Fantasy'}, {'id': 12, 'na...",Star Wars: The Last Jedi,53.0431,"[{'id': 1, 'logo_path': '/o86DbpburjxrqAzEDhXZ...",2017-12-13,1332459537,152,7.1,5841,Rey develops her newly discovered abilities wi...,0.0772
3,281338,150000000,"[{'id': 18, 'name': 'Drama'}, {'id': 878, 'nam...",War for the Planet of the Apes,48.6961,"[{'id': 22213, 'logo_path': '/qx9K6bFWJupwde0x...",2017-07-11,488533726,140,6.9,3945,Caesar and his apes are forced into a deadly c...,-0.8658
4,263115,97000000,"[{'id': 28, 'name': 'Action'}, {'id': 18, 'nam...",Logan,45.3146,"[{'id': 431, 'logo_path': None, 'name': 'The D...",2017-02-28,616801808,137,7.7,9449,"In the near future, a weary Logan cares for an...",-0.1531